<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>cw2_rvp5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>main.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/servlets/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TTNCheck</servlet-name>
    <servlet-class>main.TTNCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TTNCheck</servlet-name>
    <url-pattern>/servlets/TTNCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailCheck</servlet-name>
    <servlet-class>main.EmailCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailCheck</servlet-name>
    <url-pattern>/servlets/EmailCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>main.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlets/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>main.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlets/Logout</url-pattern>
  </servlet-mapping>
</web-app>